@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inter-font, body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
}


/* shared-style  */
:root {
  --primary : #ffffff;
  --secoundery: #00FF88;
  --text : rgba(255, 255, 255, 1);
  --bg: #1A0B2E;
  --bg-light: #230E3D;
}
body {
  background-color: var(--bg);
  color: var(--primary);
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
border-radius: 1000px;
color: var(--primary);
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
padding: 12px 20px;
font-size: 16px;
font-weight: 600;
border: none;
}
.flex {
  display: flex;
}
.heading {
  font-size: 3rem;
  margin-bottom: 16px;
}
.p-text {
  color:  rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
}







/* Main-design-part */
header {
border-bottom: 1px solid rgba(65, 37, 103, 1);
}
header nav {
  justify-content: space-between;
  padding: 30px 15px;
  align-items: center;
}
.logo h3 {
  font-size: 3rem;
}
.logo h3 span {
   background: -webkit-linear-gradient(#9100F8, #FB09B4, #F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu ul {
  gap: 32px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: var(--primary);
  font-size: 16pxx;
}
.menu img {
  display: none;
}


/* Banner-section-Design  */
#banner {
background-image: url('../image/hero-bg.png');        background-repeat: no-repeat;
background-position: center;
display: flex;
padding: 100px 15px; 
}
#banner .banner-content { 
  max-width: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center; 
  position: relative;
}
.badge {
  background-color: var(--secoundery);
  padding: 8px 16px;
  border-radius: 100px;
  color: #000;
  position: absolute;
  top: 4%;
  right: 25%;
  box-shadow: 0 0px 10px #00FF88; 
}
.badge p {
  font-size: 18px;
  font-weight: 600;
}
.microphone {
  max-width: 115px;
  height: 175px;
  position: absolute;
  top: 15%;
}
.banner-content .cicle-bg {
  width: 350px;
}
#banner .banner-content h1 {
  font-size: 3.7rem;
}
.button-box, .btn {
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.button-box .btns {
  border-radius: 1000px;
color: var(--secoundery);
background: transparent;
padding: 12px 20px;
font-size: 16px;
font-weight: 600;
border: 1px solid #00FF88;
}


/* About-section-desgin */

#about p {
  color:  rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 32px;
}
#about .main-container {
  text-align: center;
  padding: 50px 15px;
}
hr {
  color:  #ffffff2f; 
  height: 1px;
  margin: 80px 0;
}

.about-card {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 80px;
}
 
.card h3 {
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-top: 16px;
}
.card p {
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}

/* work-secion-design  */
#work {
padding: 120px 0;
background-color: #230E3D;
text-align: center;
}
#work .feature-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  text-align: left;
  gap: 30px;
  margin-top: 40px;
}
.feature-box .box {
padding:  40px;
display: flex;
flex-direction: column;
gap: 16px;
background: rgba(53, 17, 101, 0.4);
border-radius: 40px;
justify-content: center;
}
.box h3 {
  font-size: 20px;
  font-weight: bold;
}
.box p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 24px;
}
.feature-box .box img {
  width: 50px ;
  height: 50px;
}
.hight_box {
  grid-column: span 1;
  grid-row: span 2;
}
.wide_box {
  grid-column: span 2;
  grid-row: span 1;
}


/* Mobile-Responsive-section */
@media screen and (max-width: 576px) {

  .heading {
  font-size: 2rem;
}

  .main-container {
  max-width: 100%;
}
.logo h3 {
  font-size: 2rem;
}
.button, .menu>ul {
  display: none;
}
.menu img {
  display: block;
}

/* Banner-section-Design  */
#banner {
background-image: url('../image/hero-bg.png'); 
padding: 40px 20px; 
position: relative;
background-size: contain;
}

#banner .banner-content { 
  max-width: 100%;  
  position: relative;
  top: 25%;
}
.badge {
  top: 3%;
  right: 20%;
}
.microphone {
  max-width: 46px;
  height: 70px;
  top: 12%;
}
.banner-content .cicle-bg {
  width: 200px;
}
#banner .banner-content h1 {
  font-size: 3rem;
}
.button-box, .btn {
  gap: 5px;
}
.button-box .btns, .btn {
padding: 10px 15px;
font-size: 14px;
}


/* About section  */
#about .main-container {
  text-align: center;
  padding: 150px 15px;
}
.card h3 {
  font-size: 2.4rem; 
}
.about-card {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
}



/* work-secion-design  */
#work {
padding: 40px 20px;
}
#work .feature-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1,1fr);
}
.feature-box .box {
padding:  24px;
border-radius: 24px;
}
.box h3 {
  font-size: 20px;
  font-weight: bold;
}
.hight_box, .wide_box{
  grid-column: span 1;
  grid-row: span 1;
}
  


}


/* Tablet-Device-Responsive  */
@media screen and (min-width:576px) and (max-width: 992px) {
  .logo h3 {
  font-size: 2.5rem;
}
.menu ul {
  gap: 16px;
}
}